<div class="container-lg">
  <div class="input-group my-3 search">
    <input
      type="text"
      class="form-control search__input"
      placeholder="Search your pokemon"
      aria-label="Recipient's username"
      aria-describedby="button-addon2"
      [(ngModel)]="nombrePokemon"
      (keyup.enter)="encontrarConvertir()"
    />
    <button
      class="btn btn-secondary"
      type="button"
      id="button-addon2"
      (click)="encontrarConvertir()"
    >
      <fa-icon [icon]="faSearch" class="search__button"></fa-icon>
    </button>
    <div class="alert alert-danger dangeraler" role="alert" *ngIf="danger">
      Pokemon not found, please try again
    </div>
  </div>
</div>
<section class="container">
  <div class="imagen">
    <div class="imagen__border"></div>
    <div class="imagen__border--ext"></div>
    <img
      class="imagen__imagen"
      src="../assets/images/pokemons/{{ pokemon.id | number: '3.0-0' }}{{
        pokemon.name.english
      }}.png"
      alt="Pokemon.png"
    />
    <p class="imagen__name">{{ pokemon.name.japanese }}</p>
    <p class="imagen__id">#{{ pokemon.id | number: "3.0-0" }}</p>
  </div>
  <div class="container my-4 card">
    <div class="card__title">{{ pokemon.name.english }}</div>
    <div class="container type">
      <img
        *ngFor="let type of pokemon.type"
        class="type__img"
        src="../assets/images/types/{{ type }}.png"
        alt="{{ type }}"
      />
    </div>
    <ul class="card__char">
      <li class="card__item">HP: {{ pokemon.base.hp }}</li>
      <li class="card__item">Attack: {{ pokemon.base.attack }}</li>
      <li class="card__item">Defense: {{ pokemon.base.defense }}</li>
      <li class="card__item">Sp. Attack: {{ pokemon.base.spAttack }}</li>
      <li class="card__item">Sp. Defense: {{ pokemon.base.spDefense }}</li>
      <li class="card__item">Speed: {{ pokemon.base.speed }}</li>
    </ul>
    <img
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
        pokemon.id
      }}.png"
      alt="Sprite"
      class="sprite__img"
    />
  </div>
</section>
